[Container]
ContainerName=monloader
Image=ghcr.io/leqwin/monloader:latest

PublishPort=127.0.0.1:8081:8081

NoNewPrivileges=true
DropCapability=ALL

Volume=/path/to/monloader/config:/config
# Volume=/path/to/monloader/ptr:/ptr

Environment=MONLOADER_SERVER_BIND_ADDRESS=0.0.0.0:8081
Environment=MONLOADER_MONBOORU_API_URL=http://monbooru:8080
Environment=MONLOADER_MONBOORU_WEB_URL=http://localhost:8080
#Environment=TZ=Etc/UTC

HealthCmd=["/usr/local/bin/monloader","healthcheck","-config","/config/monloader.toml"]
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=10s
HealthTimeout=5s
HealthOnFailure=restart

[Install]
WantedBy=default.target